.icon-greened-back{
    background: rgba(160, 254, 211);
}
.date-line-responsivity{
    display: inline;
    color: black !important;
}
.blued{
    color: blue;
}
.yellowed{
    color: orange;
}
.route-process{
    text-align: center;
    margin-top: 5px;
}
.down-arrow{
    display: block;
    color: #3445E5;
    position: relative;
    margin: 5px;
}
.hovered-card{
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 32px;
}
.hovered-card:hover{
    background: #F3F6F9;
    filter: drop-shadow(2px 4px 6px black); 
}
.places-user-icon-ride{
    color: #1BC5BD;
    margin-right: 5px;
}
.blacked-font{
    color: black;
}
.passanger-profile{
    height: 60px;
    width: 60px;
}
.separator-row{
    width: 100%;
    height: 1px;
    background: black;
}
.delete-button{
    position: absolute;
    bottom: 7px;
    right: 2px;
}
.hidden{
    display: none !important;
}
.d-flex{
    margin-bottom: 25px;
}